.main-container-form {
  background-color: $brown_200;

  >div {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    .container-form {

      .title-form {
        color: $primary-text;
        font-size: 1.5625rem;
        font-weight: 600;
        margin: 1rem 0;
        padding-left: 2.6rem;

        @media screen and (max-width: 768px) {
          padding-left: 7.6rem;
        }

        @media screen and (max-width: 425px) {
          padding: 0 !important;
        }
      }

      .contact-form {
        display: grid;
        row-gap: 2.31rem;
        width: calc(100% - 3.31rem);
        justify-content: center;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        >div {
          position: relative;
          display: flex;
          align-items: center;
          width: 100%;

          @media screen and (max-width: 768px) {
            justify-content: flex-end;
          }

          svg {
            position: absolute;
            left: -10% !important;

            &:nth-child(1) {
              left: -8%;
            }

            @media screen and (max-width: 768px) {
              left: 6%;
            }
          }

          >.ast {
            position: absolute;
            top: .19rem;
            right: .37rem;
            z-index: 1;
            color: $red;
          }

          $border: 2px;

          >.wpcf7-form-control-wrap {
            width: 100%;

            @media screen and (max-width: 768px) {
              width: 100%;
            }

            >input {
              padding: calc(1rem - $border) calc(.81rem - $border);
              border: none;
              position: relative;
              color: $primary-text;
              border-radius: .125rem;
              width: 100%;
              border: solid $border transparent;


              &:focus {
                outline: none;
                border: solid $border $brown_400;
              }

              &::placeholder {
                color: $primary-text;
                font-size: .9375rem;
              }
            }

            >textarea {
              border: none;
              border-radius: .125rem;
              width: 100%;
              height: 8.75rem;
              padding: calc(1rem - $border) calc(.81rem - $border);
              color: $primary-text;
              font-size: .9375rem;


              &:focus {
                outline: none;
                border: solid $border $brown_400;
              }
            }
          }
        }

        .box-input-message {
          align-items: unset !important;
        }

        .box-input-buttons {
          display: grid;
          grid-template-columns: 70% 30%;

          >div {
            >span {
              display: flex;
              align-items: center;
              justify-content: flex-end;

              >input[type="file"] {
                display: none;
              }
            }

            .label-input-file {
              background-color: white;
              border-radius: .125rem;
              color: $brown_400;
              font-size: .9375rem;
              font-weight: 600;
              line-height: normal;
              cursor: pointer;
              float: right;
              transition: all .3s ease-in-out;
              padding: 0 10px 0 13px;
              height: 50px;
              display: flex;
              justify-content: center;
              align-items: center;

              &:hover {
                background-color: $brown;
                color: white;
              }

              .send-file-image {
                margin-right: .63rem;
                width: 1.625rem;
                height: 1.75rem;
              }

              @media screen and (max-width: 768px) {
                padding: .5rem .5rem;
              }
            }
          }

          >input[type="submit"] {
            color: $brown_400;
            font-size: .9375rem;
            font-weight: 600;
            line-height: normal;
            border-radius: .125rem;
            border: white;
            margin-left: auto;
            transition: all .3s ease-in-out;
            width: 100px;
            height: 50px;
            background-color: white;
            display: grid;
            place-items: center;

            &:hover {
              background-color: $brown;
              color: white;
            }

            @media screen and (max-width: 768px) {
              width: 80%;
              padding: .5rem .5rem;
            }

            svg {
              margin-left: calculateRem(10px);
            }
          }

          // .wpcf7-not-valid-tip {
          //   display: none !important;
          // }
        }
      }
    }

    .container-image {
      position: relative;

      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }

      >a {
        position: absolute;
        bottom: calculateRem(39px);
        right: calculateRem(4px);

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  .wpcf7-response-output {
    background: white;
    border: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text;
    font-size: calculateRem(12px);
    font-weight: 600;
    padding: calculateRem(16px) !important;
    width: fit-content;
    float: right;
    margin-right: 5.31rem !important;
  }

  .check-icon {
    &::before {
      content: '';
      background-image: var(--check-icon);
      width: calculateRem(30px);
      height: calculateRem(30px);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: calculateRem(16px);
    }
  }

  // .wpcf7-not-valid-tip {
  //   display: none;
  // }
}