* {
    font-family:  $app-font-primary;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Alterando o font-size na tag html para reduzir o tamanho da unidade REM afetando todo o site
html {
    font-size: 16px;

    @include breakpoint(md) {
        font-size: 15px;
    }

    @include breakpoint(sm) {
        font-size: 14px;
    }
}

body {
    width: 100%;
<<<<<<< HEAD
    margin: 0 !important;
=======
    margin: 0;

    @media screen and (max-width: 768px) {
        overflow-x: hidden;
    }
>>>>>>> 37061d0fa9604f493e2a2e20de9b2a5d0a96e43f
}

#app {
    position: relative;
}

a, button, img {
    outline: none !important;
}
a:hover, a:active, a:focus {
    outline: none !important;
}
input::-moz-focus-inner {
    border: none !important;
}