.homepage {
  margin-top: calculateRem(97px);

  .main-container-hero {
    position: relative;
    display: flex;
    justify-content: center;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #EEE1D0;
      position: absolute;
      top: 0;
      left: -88%;

      @media screen and (max-width: 1024px) {
        display: none;
      }

      // @media screen and (min-width: 1500px) {
      //   left: -88.8%;
      // }

      @media screen and (min-width: 1920px) {
        left: -80.4%;
      }

      @media screen and (min-width: 2560px) {
        left: -72.4%;
      }
    }

    @media screen and (max-width: 768px) {
      height: 50vh;
    }

    >img {
      width: 100%;
      height: 100%;
      object-fit: contain;

      @media screen and (max-width: 768px) {
        object-fit: cover;
      }
    }

    .main-container-card {
      display: grid;
      grid-template-columns: repeat(2, minmax(20rem, 30rem));
      position: absolute;
      top: 0;
      height: 100%;

      @media screen and (max-width: 768px) {
        grid-template-columns: 75%;

        .column {
          display: none;
        }
      }

      .main-card {
        background-color: #b0061aef;
        color: white;
        border-radius: none;
        border: none;
        padding: 5.12rem 3.31rem;

        @media screen and (max-width: 768px) {
          padding: 2rem 1.5rem;
        }

        &::after {
          content: '';
          width: 0;
          height: 0;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
          border-top: 25px solid #b0061aef;
          top: 100%;
          left: 6%;
          position: absolute;
          animation-delay: 1s;
          animation: leftToRight 1s ease-in-out;
        }

        @keyframes leftToRight {
          0% {
            left: -100vw;
          }

          100% {
            left: 6%;
          }
        }

        h1 {
          font-size: 1.875rem;
          font-weight: 700;
          line-height: 130.4%;

          @media screen and (max-width: 768px) {
            font-size: 1rem;
          }
        }

        p {
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 130.4%;

          @media screen and (max-width: 768px) {
            font-size: .8rem;
          }
        }

        a {
          color: $red;
          background-color: white;
          border: solid 2px white;
          border-radius: 0;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: white;
            background-color: $red;
            border: solid 2px $red;
          }
        }
      }
    }
  }
}
