.homepage {
  margin-top: calculateRem(97px);

  @media screen and (max-width: 768px) {
    margin-top: 7.5rem;
  }

  // hero
  .main-container-hero {
    display: flex;
    height: 68vh;


    @media screen and (max-width: 768px) {
      height: 50vh;
    }

    @media screen and (min-width: 2500px) {
      max-width: 100vw;
      height: 70.5vh;
    }

    .beige-block {
      width: 14.7%;
      height: 100%;
      background-color: #EEE1D0;

      @media screen and (min-width: 2500px) {
        width: 37%;
      }

      @media screen and (max-width: 1920px) {
        width: 24%;
      }

      @media screen and (max-width: 1600px) {
        width: 15%;
      }

      @media screen and (max-width: 1440px) {
        width: 10.7%;
      }

      @media screen and (max-width: 1366px) {
        width: 7.7% !important;
      }

      @media screen and (max-width: 1024px) {
        display: none;
      }

      // @media screen and (max-width: 768px) {
      //   display: none;
      // }
    }

    .container-content-hero {
      position: relative;
      width: 100%;
      height: 100%;

      @media screen and (min-width: 2500px) {
        background-size: cover !important;
        background-position: 120% !important;
      }

      @media screen and (max-width: 1440px) {
        background-position: center !important;
      }

      @media screen and (max-width: 1024px) {
        background-position: center !important;
      }

      @media screen and (max-width: 768px) {
        background-size: cover !important;
        background-position: 40% !important;
      }

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @media screen and (max-width: 768px) {
          object-fit: cover;
        }

        @media screen and (min-width: 2500px) {
          object-fit: cover;
          object-position: right;
        }
      }

      .main-container-card {
        display: grid;
        grid-template-columns: repeat(2, minmax(20rem, 30rem));
        position: absolute;
        top: 0;
        height: 100%;

        @media screen and (max-width: 768px) {
          grid-template-columns: 60%;
          padding: 0;
          margin: 0;
          left: 0;

          .column {
            display: none;
          }
        }

        .main-card {
          background: #B00619;
          mix-blend-mode: multiply;
          color: white;
          border-radius: none;
          border: none;
          width: calculateRem(488px);
          padding: 5.12rem 3.31rem;
          width: 100%;

          @media screen and (max-width: 1390px) {
            padding: 4.12rem 3.31rem;
          }

          @media screen and (max-width: 768px) {
            padding: 2rem 1.5rem;
          }

          &::after {
            content: '';
            width: 0;
            height: 0;
            border-left: calculateRem(15px) solid transparent;
            border-right: calculateRem(15px) solid transparent;
            border-top: calculateRem(15px) solid #b0061aef;
            top: 100%;
            left: 6%;
            position: absolute;
            animation: leftToRight 1s ease-in-out;
          }

          @keyframes leftToRight {
            0% {
              left: -100vw;
            }

            100% {
              left: 6%;
            }
          }

          h1 {
            font-size: 1.75rem;
            font-weight: 700;
            line-height: 130.4%;
            margin-bottom: .69rem;

            @media screen and (max-width: 768px) {
              font-size: 1rem;
            }
          }

          p {
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 130.4%;
            margin-bottom: 2.5rem;

            @media screen and (max-width: 768px) {
              font-size: .8rem;
            }
          }

          a {
            color: $red;
            background-color: #D9D9D9;
            border: solid 2px #D9D9D9;
            border-radius: 2px;
            transition: all 0.3s ease-in-out;
            font-size: calculateRem(16px);
            font-weight: 600;
            line-height: 130.4%;
            padding: calculateRem(10px) calculateRem(40px);
            text-decoration: none;

            &:hover {
              color: $text;
              background-color: white;
              border: solid 2px white;
            }

            @media screen and (max-width: 768px) {
              font-size: .8rem;
              padding: .5rem 1rem;
            }
          }
        }
      }
    }
  }

  // About us
  .main-container-about-us {
    display: grid;
    grid-template-columns: 57% 500px;

    @media screen and (max-width: 1024px){
      grid-template-columns: 55% 45%;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 100vw;
      margin: 0;
      padding: 0;
    }

    .main-container-about-us-content {
      color: $text;
      padding: 3.25rem 0 3.25rem 0;
      max-width: calculateRem(642px);
      width: 100%;
      flex-shrink: 0;

      @media screen and (min-width: 1024px){
        max-width: 30.125rem;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 2rem 1rem;
        margin: 0 auto;
      }

      .title {
        margin-bottom: calculateRem(24px);
        font-size: calculateRem(25px);
        font-weight: 600;
      }

      p {
        margin-bottom: 0;
        text-align: justify;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 148.4%; /* 23.744px */
      }

      .container-arrow {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: calculateRem(30px);
      }
    }

    .main-container-brand {
      background-color: $text;
      display: grid;
      place-items: center;
      padding: calculateRem(50px) 0;
      height: calculateRem(500px);
      position: relative;

      @media screen and (min-width: 1024px){
        height: 100%;
      }




      > a {
        color: $text;
        background-color: white;
        padding: calculateRem(7px) calculateRem(18px);
        font-size: calculateRem(16px);
        font-weight: 600;
        border-radius: calculateRem(2px);
        text-decoration: none;
        border: solid 2px white;
        transition: all 0.3s ease-in-out;
        position: absolute;
        bottom: calculateRem(50px);

        @media screen and (max-width: 768px) {
          margin-top: 4rem;
        }

        &:hover {
          color: white;
          background-color: lighten($color: $text, $amount: 20);
          border: solid 2px lighten($color: $text, $amount: 20);
        }
      }
    }

    .main-container-expirence {
      border-top: solid 1px $brown_400;
      border-right: solid 1px $brown_400;
      position: relative;
      height: calculateRem(560px);

      @media screen and (max-width: 768px) {
        height: 100%;
      }

      .container-expirence {
        width: calculateRem(488px);
        height: calculateRem(344px);
        background-color: #9D832B;
        color: white;
        display: grid;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem 3.81rem 2rem 5.81rem;

        @media screen and (max-width: 768px) {
          width: 100%;
          height: calculateRem(384px);
          padding: 2rem 3.81rem 2rem 5.81rem;
        }

        .title-expirence {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          column-gap: 1rem;
          margin-bottom: -2rem;
        }

        > p {
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 154.5%; /* 24.72px */

          @media screen and (max-width: 768px) {
            margin-top: 0;
          }
        }
      }

      .main-container-glass-more-info {
        background-color: rgba(157, 131, 43, 0.50);
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        // border-right: solid 1px white;
        color: #826C23;
        position: absolute;
        bottom: 0;
        height: calculateRem(121px);
        display: grid;
        align-items: center;
        padding-left: 4.81rem;

        &::after {
          content: '';
          background-color: white;
          width: 1px;
          height: 100%;
          position: absolute;
          right: -1px;
        }

        @media screen and (max-width: 768px) {
          display: none;
        }

        h3 {
          font-size: calculateRem(22px);
          font-weight: 600;
          line-height: 154.5%;
          font-style: normal;
          width: 80%;
        }
      }
    }

    .main-container-photo {
      position: relative;

      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;

        @media screen and (min-width: 1024px) {
          object-fit: none;
        }
      }

      .main-container-glass-more-info-content {
        background-color: rgba(157, 131, 43, 0.50);
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: calculateRem(121px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .container-social-media {
          display: grid;
          gap: calculateRem(19px);

          @media screen and (max-width: 768px) {
            row-gap: 1rem;
          }

          .container-whats,
          .container-mail {
            display: grid;
            column-gap: calculateRem(9px);

            a {
              text-decoration: none;
              color: white;
              transition: all 0.3s ease-in-out;

              &:hover {
                color: $red;
              }

              img,
              svg {
                width: calculateRem(27px);
                height: calculateRem(27px);
              }
            }
          }
        }
      }
    }
  }

  .main-container-our-services {
    background-color: #c5c0a07e;
    padding-top: calculateRem(37px);
    padding-bottom: calculateRem(37px);
    margin-top: calculateRem(30px);

    .main-container-title {
      border-top: solid 1px $brown_400;
      border-bottom: solid 1px $brown_400;
      padding: calculateRem(14px) 0;
      display: flex;
      justify-content: center;
      align-items: center;

      > h2 {
        color: $brown_400;
        font-size: calculateRem(25px);
        font-weight: 600;
        line-height: normal;
        margin: 0;
      }
    }

    .main-container-cards-services {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: calculateRem(20px);
      padding-bottom: calculateRem(16px);
      border-bottom: solid 1px $brown_400;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .main-container-card-service {
        margin-top: calculateRem(64px);
        display: grid;
        justify-content: center;
        position: relative;

        @media screen and (max-width: 768px) {
          margin-top: 2.3125rem;
        }

        &::after {
          content: "";
          width: 1px;
          height: 50%;
          background-color: #9D832B;
          position: absolute;
          bottom: 0px;
          left: -4%;
        }

        &:first-child::after {
          display: none;
        }

        @media screen and (max-width: 768px) {
          &::after {
            display: none;
          }
        }

        .main-container-icon {
          background-color: $brown_400;
          width: 100%;
          height: 9.375rem;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 0rem 0rem 0.125rem 0.125rem;

          h2 {
            font-size: calculateRem(16px);
            font-weight: 600;
            color: white;
            text-align: center;
            margin-top: calculateRem(13px);

            @media screen and (max-width: 768px) {
              font-size: calculateRem(12px);
            }
          }
        }

        > p {
          padding: calculateRem(8px) calculateRem(19px);
          color: $text;
          font-size: 0.75rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;

          @media screen and (max-width: 768px) {
            padding: calculateRem(8px) calculateRem(8px);
          }
        }

        > a {
          margin: 0 auto;
          margin-top: calculateRem(20px);
          background-color: #C5C0A0;
          border-radius: calculateRem(2px);
          // padding: calculateRem(10px) calculateRem(20px);
          color: white;
          text-decoration: none;
          font-weight: 600;
          font-size: calculateRem(16px);
          transition: all 0.3s ease-in-out;
          margin-bottom: 1.88rem;
          width: calculateRem(120px);
          height: calculateRem(40px);
          display: grid;
          place-items: center;
          flex-shrink: 0;

          &:hover {
            background-color: white;
            color: $brown_400;
          }
        }
      }
    }

    .main-container-icon-gen-tree {
      display: grid;
      place-items: center;
      width: 100%;
      padding-top: 3.06rem;

      img {
        margin-bottom: .63rem;
      }

      h1 {
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $brown_400;
      }


      .main-container-content-gen-tree {
        margin-top: calculateRem(85px);
        margin-bottom: calculateRem(96px);
        background-color: #fafafa;
        max-width: 65.5625rem;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        box-shadow: 0px 6px 10px 0px rgba(105, 87, 23, 0.15);
        border-radius: 2px;
        border-top: 1px solid #9D832B;
        border-bottom: 1px solid #9D832B;
        padding: calculateRem(20px);
        width: calculateRem(889px);
        height: calculateRem(411px);

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          width: 100%;
          height: 100%;
          padding: 2rem 1rem;
          margin-top: 0;
          margin-bottom: 0;
        }

        .paragraph {
          color: #999;
          position: relative;
          display: flex;
          align-items: center;
          //justify-content: center;
          flex-direction: column;
          width: calculateRem(381px);
          height: 100%;

          &:last-child {
            border-left: solid 1px #9D832B;
            padding-left: 39px;
            width: 100%;

            @media screen and (max-width: 768px) {
              border-left: none;
              padding-left: 0;
            }
          }

          @media screen and (max-width: 768px) {
            margin-bottom: 0;
            width: 100%;
          }

          > p,
          ul > li,
          span {
            text-align: justify;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            &.highlight {
              color: black;
              font-size: 10.9px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              margin-top: auto;

              @media screen and (max-width: 768px) {
                margin: 0 !important;
              }

              &.soft {
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
              }
            }
          }

          &:nth-child(2) {
            p, span {
              font-size: 10px;
              font-style: normal;
              font-weight: 400;
              line-height: 140%;
              margin-bottom: 10px;

              @media screen and (max-width: 768px) {
                text-align: justify;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }

              &.highlight {
                text-align: justify;
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%; /* 14px */

                @media screen and (max-width: 768px) {
                  color: black;
                  font-size: 10.9px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: normal;
                  margin-top: auto;
                }

                &.soft {
                  font-family: Montserrat;
                  font-size: 10px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 140%;
                }
              }
            }
          }
        }

      }

      .container-buttons-gen-tree {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 65.5625rem;
        width: 76%;
        column-gap: calculateRem(85px);
        position: relative;

        @media screen and (max-width: 1024px) {
          column-gap: 1rem;
          margin-top: 1.5rem;
        }

        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(3, 1fr);
          row-gap: calculateRem(20px);
          justify-items: center;
        }

        a.redir {
          width: 240px;
          height: 40px;
          flex-shrink: 0;
          display: grid;
          place-items: center;
          background-color: #C5C0A0;
          color: white;
          text-decoration: none;
          transition: all 0.3s ease-in-out;
          border-radius: 2px;
          font-size: calculateRem(14px);
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          &:hover {
            background-color: white;
            color: $brown_400;
          }

          &:nth-child(3) {
            background-color: white !important;
            color: $brown_400 !important;
            border: solid 1px $brown_400 !important;
            text-align: center;

            &:hover {
              border: solid 1px $text !important;
              color: $text !important;
            }
          }
        }

        a.back-to-top {
          position: absolute;
          bottom: 0;
          right: -15%;
          cursor: pointer;
          z-index: 10;

          @media screen and (max-width: 1390px) {
            right: -10%;
          }

          @media screen and (max-width: 1024px) {
            right: -20%;
          }

          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }

      .container-arrow-next-section {
        padding-top: calculateRem(37px);
      }
    }
  }
}